/hist
/TAU
/trop_pac
/old_copies
/data
/figures/parcels/tests
/figures/parcels/vids
/figures/parcels/v0E
/figures/cmip/EUC/month
/figures/cmip/archive
/logs/archive
/jobs/archive
*.pyc
*.stats
.spyproject
.pylint.d
