/data/lge
/hist
/TAU
/trop_pac
/old_copies
/data
/scripts/__pycache__
*/__pycache__/*
*/*.pyc
*.pyc
/scripts/__pycache__/*.pyc
*.pyc
*.pyc
scripts/__pycache__/main.cpython-36.pyc
scripts/__pycache__/main_valid.cpython-36.pyc
*.pyc
